@import "tailwindcss";

:root {
  --primary: #1A1A1A;
  --secondary: #B08D57;
  --accent: #9e2a2b;
  --destructive: #B62F31;
  --background: #faf9f8;
  --text-primary: #111827;
  --neutral-light: #F7F4EE;
  --neutral-mid: #8C8173;
  --highlight: #E0C97D;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-destructive: var(--destructive);
  --color-background: var(--background);
  --color-text-primary: var(--text-primary);
  --color-neutral-light: var(--neutral-light);
  --color-neutral-mid: var(--neutral-mid);
  --color-highlight: var(--highlight);
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #1A1A1A;
    --secondary: #B08D57;
    --accent: #9e2a2b;
    --destructive: #B62F31;
    --background: #faf9f8;
    --text-primary: #111827;
    --neutral-light: #F7F4EE;
    --neutral-mid: #8C8173;
    --highlight: #E0C97D;
  }
}
